* {
  margin: 0;
  font-family: monospace;
  text-align: center;
}


/* Estilos Comuns | Common Styles  */

.canais-img, .galeria img {
  box-shadow: 0px 0px 10px 3px #ffffff;
}

h2 {
  font-size: 28px;
}

/* Seção Topo | Header Section  */

#secao-topo {
  width: 100%;
  padding: 20px 0px;
  background-color: #040207;
}

#secao-topo a {
  font-size: 28px;
  margin: 0px 35px;
  text-decoration: none;
  color: #ffffff;
}

/* Seção Banner | Banner Section  */

#container-banner {
  width: 100%;
}

#secao-banner {
  background-image: url('img/capa.jpg');
  height: calc(100vh - 74px);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #020202;
  background-position: center;
}

/* Seção Sinopse | Synopsis Section  */

#container-sinopse {
  width: 100%;
  background-color: #ffffff;
}

#secao-sinopse {
  padding: 50px 20px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#secao-sinopse h1 {
  font-size: 36px;
}

#secao-sinopse h2 {
  margin-top: 30px;
  margin-bottom: 50px;
}

#secao-sinopse p {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: left;
}

/* Seção Canais | Channels Section  */

#container-canais {
  width: 100%;
  background-color: #312135;
}

#secao-canais {
  padding: 50px 20px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#secao-canais h2 {
  margin-bottom: 50px;
  color: #ffffff;
}

#secao-canais img {
  width: 80%;
  margin-bottom: 50px;
}

#secao-canais p {
  font-size: 20px;
  color: #ffffff;
}

/* Seção Temporadas | Seasons Section  */

#container-temporadas {
  width: 100%;
  background-color: #ffffff;
  padding: 50px 20px;
}

#secao-temporadas {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#secao-temporadas h2 {
  margin-bottom: 50px;
}

.subcontainer-temporadas {
  width: 100%;
  box-shadow: 0px 0px 10px 3px #cac4c4;
  margin-bottom: 40px;
  min-height: 160px;
  padding: 20px 20px;
  box-sizing: border-box;
}

.subcontainer-temporadas h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.subcontainer-temporadas p {
  font-size: 16px;
}

/* Seção Imagens | Image Section  */

#container-imagens {
  width: 100%;
  background-color: #312135;
}

#secao-imagens {
  max-width: 1024px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto
}

#secao-imagens h2 {
  margin-bottom: 50px;
  color: #ffffff;
}

.galeria {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.galeria img {
  max-height: 220px;
  width: 320px;
  margin: 25px 20px;
}

#secao-imagens div span {
  width: 20px;
  color: #ffffff;
}

#secao-imagens div {
  text-align: left;
}

/* Seção Rodapé | Footer Section  */

#rodape {
  width: 100%;
  padding: 40px 0px;
  box-shadow: 0px 10px 20px 5px #ffffff;
  background-color: #312135;
  color: #ffffff;
}